<ion-header translucent="true">
  <ion-toolbar color="dark">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Inicio</h1>
    <p class="texto-cambiante">
      Bienvenido joven a la pagina de inicio aqui podra moverse para conseguir informacion ver que nomas hay
    </p>

    <ion-button class="aboutbuttom" [routerLink]="['/about']">about</ion-button>
    <ion-button class="iracontacto" [routerLink]="['/contacto']">contacto</ion-button>
    <ion-button class="iraperfil" [routerLink]="['/perfil']">perfil</ion-button>
  </div>
</ion-content>

<audio id="Originaltheme" autoplay loop>
  <source src="../../../assets/mp3/Scary Movie Theme [Original from Scary Movie].mp3" type="audio/mpeg">
</audio>