<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalle del Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ usuario?.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ usuario?.correo }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Rol:</strong> Conocedor</p>
      <p><strong>Estado:</strong> Activo</p>
    </ion-card-content>
  </ion-card>
</ion-content>
